<!-- 
    Autor Jesus pineda / "Otro autor"
    14/08/2020
    Proposito de esta pagina: Fin des los divs de la pagina del menu 
-->
</div>
</div>
</div>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/routes.js"></script>
<script src="js/app.js"></script>
<script>

    function openNewWindow(id) {
        
        redirect(id);
    }
</script>